<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog System...</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Medium Style -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

  </head>
  <body class="loader">
    <nav class="navbar navbar-expand-lg navbar-light techfont custom-navbar" style="background-color: #e3f2fd;">
    <a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.github.com">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.facebook.com">Facebook</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto navbar-right">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Welcome: <em> {{user.username}}</em></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link navbar-right" href="{% url 'login' %}">login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="content container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog_posts">
          {% block content %}
          {% endblock %}
        </div>

      </div>

    </div>
  </div>

  </body>
</html>
